<div class="container-plans">
    <div class="title-services">
        <h2>Plastic Aesthetic surgery plans</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>
    <div class="container-card-plans">
        <div class="card-plans">
            <mat-card>
                <div class="card-title-plans">
                    <h2>Basic</h2>
                </div>
                <div class="card-text-plans">
                    <p>Lipo 360

                    </p>
                    <p>Breast Lift

                    </p>
                    <p>Loding in a recovery home

                    </p>
                    <p>Medical insurance

                    </p>
                    <p>Local transportation

                    </p>
                    <p>Exams and laboratory

                    </p>
                    <p>Blood reserve

                    </p>
                    <p>5 Post-surgical massages

                    </p>
                    <p>Covid-19 test

                    </p>
                    <p>1 Shaper

                    </p>
                </div>
                <div class="button-container"><button class="btn">Adquire Plan</button></div>
            </mat-card>
        </div>
        <div class="card-plans">
            <mat-card>
                <div class="card-title-plans">
                    <h2>Premium</h2>
                </div>
                <div class="card-text-plans">
                    <p>Lipo 360

                    </p>
                    <p>Breast Lift

                    </p>
                    <p>Loding in a recovery home

                    </p>
                    <p>Medical insurance

                    </p>
                    <p>Local transportation

                    </p>
                    <p>Exams and laboratory

                    </p>
                    <p>Blood reserve

                    </p>
                    <p>5 Post-surgical massages

                    </p>
                    <p>Covid-19 test

                    </p>
                    <p>1 Shaper

                    </p>
                </div>
                <div class="button-container"><button class="btn">Adquire Plan</button></div>
            </mat-card>
        </div>
        <div class="card-plans">
            <mat-card>
                <div class="card-title-plans">
                    <h2>Special</h2>
                </div>
                <div class="card-text-plans">
                    <p>Lipo 360

                    </p>
                    <p>Breast Lift

                    </p>
                    <p>Loding in a recovery home

                    </p>
                    <p>Medical insurance

                    </p>
                    <p>Local transportation

                    </p>
                    <p>Exams and laboratory

                    </p>
                    <p>Blood reserve

                    </p>
                    <p>5 Post-surgical massages

                    </p>
                    <p>Covid-19 test

                    </p>
                    <p>1 Shaper

                    </p>
                </div>
                <div class="button-container"><button class="btn">Adquire Plan</button></div>
            </mat-card>
        </div>

    </div>
    <div class="slider-plans">
        <h1>IBIS Hotels</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quam dolore sit saepe ipsum culpa repellendus magnam laborum, repellat fugiat ab non at corrupti exercitationem quisquam possimus similique quasi?</p>
    </div>
</div>