<header class="container-fluid">
    <app-nav></app-nav>
    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="title">
                <div class="text-title">
                    <p>Where dreams come true<span id="point-color">.</span></p>
                </div>
            </div>
            <div class="subtitle">
                <p>We are the most committed aesthetic consultant in the market, handling highly competitive rates and providing the highest quality from the best professionals in the region, it is our interest to provide an unforgettable experience to our
                    patients through medical tourism, we have highly qualified staff to offer the best medical and tourist consulting in the market. "Dream Factory VIP" your best choice.</p>
            </div>
        </div>
        <div class="col-12 col-lg-5 card-container">
            <mat-card>
                <div class="card-title">
                    <h2>Contact us</h2>
                    <p>Complete the fields below and contact us</p>
                </div>
                <div class="form">
                    <form>

                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Message</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <div class="button-container"><button class="btn">Send</button></div>

                    </form>
                </div>
            </mat-card>
        </div>
    </div>
</header>