<div class="row container-contact">
    <div class="col-4">
        <div class="contact">
            <div class="items-contact">
                <mat-icon> phone</mat-icon> <span>521.2554.889</span>
            </div>
            <div class="items-contact">
                <mat-icon> message</mat-icon> <span>855.2242.84</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="items-contact">
            <mat-icon> extension</mat-icon> <span>@dreamfactoryvip</span>
        </div>
    </div>
    <div class="col-4">
        <div class="contact">
            <div class="items-contact">
                <mat-icon> alternate_email</mat-icon><span>rcastaneda@dfactoryvip.com</span>
            </div>
            <div class="items-contact">
                <mat-icon> alternate_email</mat-icon><span>vtrujillo@dfactoryvip.com</span>
            </div>
        </div>
    </div>
</div>
<div class="title-services">
    <h2>Book an appointment with us</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
</div>
<div class="row">
    <div class="col-12">


        <form class="form">
            <div class="inputs">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="inputs">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option>
                            1
                        </mat-option>
                        <mat-option>
                            2
                        </mat-option>

                    </mat-select>
                </mat-form-field>

            </div>


        </form>
        <div class="button-container"><button class="btn">Send Message</button></div>

    </div>
</div>