<div class="title-services">
    <h2>Services</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
</div>
<div class="row">
    <div class="col-12">
        <div class="card-content">
            <div class="text-container">
                <div class="title-container">
                    <div class="title-card">
                        <span>.01</span>
                    </div>
                    <div class="subtitle-card">
                        <span>Porcelain Smile Desing</span>
                    </div>
                </div>
                <div class="text-card">
                    Porcelain smile designs are highly sought after for their durability that is over 10 years, being very resistant to fractures, they do not lose their original color, they are not pigmented with dark drinks or the use of tobacco, additionally the preparation
                    of the dental structure is minimal and minimally invasive (the state of the patient's teeth must be taken into account before performing the procedure) and also has a 10-year guarantee backed by our partner clinics.
                </div>
                <div class="button-card">
                    <button class="btn">Make an appointment</button>
                </div>
            </div>
            <div class="img-card">
                <img src="assets/img/PorcelainSmileDesing.jpg" alt="">
            </div>
        </div>
        <div class="card-content">

            <div class="img-card">
                <img src="assets/img/Highaestheticresin.jpg" alt="">
            </div>
            <div class="text-container">
                <div class="title-container">
                    <div class="title-card">
                        <span>.02</span>
                    </div>
                    <div class="subtitle-card">
                        <span>Hign Aesthetic Resin Smile Design</span>
                    </div>
                </div>
                <div class="text-card">
                    It is a procedure that is performed directly, they are highly used techniques to give the desired effects of our patients in terms of the color, size and perfection of their smile, it is not an expensive procedure and with satisfactory results are achieved,
                    its durability following the Suggested care is from 5 to 8 years, however, it requires a minimum maintenance every 4 to 6 months to maintain the desired results (all treatments are subject to the state of the teeth of our patients).
                </div>
                <div class="button-card">
                    <button class="btn">Make an appointment</button>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="text-container">
                <div class="title-container">
                    <div class="title-card">
                        <span>.03</span>
                    </div>
                    <div class="subtitle-card">
                        <span>Oral Rehabilitation</span>
                    </div>
                </div>
                <div class="text-card">
                    All procedures must be evaluated directly with our professionals and all procedures depend on the explicit need of each of our patients. Certain exams may be required to diagnose and carry out adequate rehabilitation.
                </div>
                <div class="button-card">
                    <button class="btn">Make an appointment</button>
                </div>
            </div>
            <div class="img-card">
                <img src="assets/img/Oralrehabilitation.jpg" alt="">
            </div>
        </div>
        <div class="card-content">

            <div class="img-card">
                <img src="assets/img/Aestheticplastic.jpg" alt="">
            </div>
            <div class="text-container">
                <div class="title-container">
                    <div class="title-card">
                        <span>.04</span>
                    </div>
                    <div class="subtitle-card">
                        <span>Aesthetic Plastic Surgery</span>
                    </div>
                </div>
                <div class="text-card">
                    The objective of cosmetic surgery is to correct and / or modify body disproportions, in order to bring them closer to the sociocultural beauty parameters, "Dream Factory" has agreements with the most prominent cosmetic surgeons in the region (Cali-Colombia)
                    and the Dominican Republic through our commercial partner Bellavita.
                </div>
                <div class="button-card">
                    <button class="btn">Make an appointment</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="title-services">
    <h2>Results</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
</div>
<div class="row">
    <div class="col-12">
        <div class="img-results">
            <img src="assets/img/results1.jpg" alt="">
            <img src="assets/img/results2.jpg" alt="">
            <img src="assets/img/results3.jpg" alt="">
            <img src="assets/img/results4.jpg" alt="">
            <img src="assets/img/results5.jpg" alt="">
        </div>
        <div class="img-results">
            <img src="assets/img/results6.jpg" alt="">
            <img src="assets/img/results7.jpg" alt="">
            <img src="assets/img/results8.jpg" alt="">
            <img src="assets/img/results9.jpg" alt="">
            <img src="assets/img/results10.jpg" alt="">
        </div>
    </div>
</div>