.title-services {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-direction: column;
    align-items: center;
}

.title-services h2 {
    font: normal normal bold 40px/40px futuraB;
    letter-spacing: 0px;
    color: #1A2227;
    opacity: 1;
}

.title-services p {
    color: #AAAAAA;
}

.card-content {
    padding-left: 3%;
    display: flex;
    margin-bottom: 2%;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.text-container {
    width: 40%;
}

.title-card span {
    font: normal normal bold 80px/103px futuraB;
    letter-spacing: 0px;
    color: #A57D24;
    opacity: 1;
}

.text-card {
    color: #AAAAAA;
    padding: 1% 6%;
}

.subtitle-card span {
    font: normal normal bold 35px/45px futura;
    letter-spacing: 0px;
    color: #1A2227;
}

.img-card {
    width: 60%;
}

.img-card img {
    width: 100%;
}

.button-card {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.btn {
    width: 50%;
    /* background: rebeccapurple; */
    padding: 2%;
    border-radius: 30px;
    border: 2px solid #A57D24;
    color: #A57D24;
}

.img-results img {
    width: 20%;
}

.img-results {
    padding: 0% 1%;
}