<div class="title-services">
    <h2>Blog</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
</div>
<div class="row">
    <div class="col-12">

        <div class="container-blog">
            <div class="card-blog">
                <mat-card>



                    <div class="img-blog">
                    </div>

                    <div class="tag">
                        <span>Dental health</span>
                    </div>
                    <div class="title-blog">
                        <h2>Lorem ipsun dolor</h2>
                    </div>
                    <div class="text-blog">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, doloribus! Ex, nostrum ipsum atque a laboriosam minus officiis. Ullam excepturi, fugiat hic minima optio in beatae dolore laudantium iusto magnam!</p>
                    </div>
                    <div class="footer-blog">
                        <p>21 Abril 2020</p>
                    </div>
                </mat-card>
            </div>
            <div class="card-blog">
                <mat-card>



                    <div class="img-blog">
                    </div>

                    <div class="tag">
                        <span>Dental health</span>
                    </div>
                    <div class="title-blog">
                        <h2>Lorem ipsun dolor</h2>
                    </div>
                    <div class="text-blog">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, doloribus! Ex, nostrum ipsum atque a laboriosam minus officiis. Ullam excepturi, fugiat hic minima optio in beatae dolore laudantium iusto magnam!</p>
                    </div>
                    <div class="footer-blog">
                        <p>21 Abril 2020</p>
                    </div>
                </mat-card>
            </div>
            <div class="card-blog">
                <mat-card>



                    <div class="img-blog">
                    </div>

                    <div class="tag">
                        <span>Dental health</span>
                    </div>
                    <div class="title-blog">
                        <h2>Lorem ipsun dolor</h2>
                    </div>
                    <div class="text-blog">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, doloribus! Ex, nostrum ipsum atque a laboriosam minus officiis. Ullam excepturi, fugiat hic minima optio in beatae dolore laudantium iusto magnam!</p>
                    </div>
                    <div class="footer-blog">
                        <p>21 Abril 2020</p>
                    </div>
                </mat-card>
            </div>
            <div class="card-blog">
                <mat-card>



                    <div class="img-blog">
                    </div>

                    <div class="tag">
                        <span>Dental health</span>
                    </div>
                    <div class="title-blog">
                        <h2>Lorem ipsun dolor</h2>
                    </div>
                    <div class="text-blog">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, doloribus! Ex, nostrum ipsum atque a laboriosam minus officiis. Ullam excepturi, fugiat hic minima optio in beatae dolore laudantium iusto magnam!</p>
                    </div>
                    <div class="footer-blog">
                        <p>21 Abril 2020</p>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>