 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'futura';
 }
 
 .container-fluid {
     background: transparent url('assets/img/slider.jpg')0% 0% no-repeat padding-box;
     height: 100vh;
     padding-right: 0px;
     padding-left: 0px;
 }
 
 .slider-plans {
     background: transparent url('assets/img/hotel1.jpg')0% 0% no-repeat padding-box;
     display: flex;
     justify-content: center;
     height: 59vh;
     align-items: center;
     flex-direction: column;
     color: white;
 }
 
 .slider-plans h1 {
     font-size: 6rem;
     font-family: futuraBL;
 }
 
 .slider-plans p {
     width: 50%;
     text-align: center;
     font-family: futuraLi;
 }
 
 .row {
     margin-right: 0px;
     margin-left: 0px;
 }
 
 @font-face {
     font-family: 'futura';
     src: url('assets/fonts/futura-pt-demi.otf') format("opentype");
 }
 
 @font-face {
     font-family: 'futuraB';
     src: url('assets/fonts/FuturaBoldfont.ttf') format("opentype");
 }
 
 @font-face {
     font-family: 'futuraL';
     src: url('assets/fonts/FuturaLightfont.ttf') format("opentype");
 }
 
 @font-face {
     font-family: 'futuraBL';
     src: url('assets/fonts/FuturaBolditalicfont.ttf') format("opentype");
 }
 
 @font-face {
     font-family: 'futuraLi';
     src: url('assets/fonts/futuralightbt.ttf') format("opentype");
 }
 
 html,
 body {
     height: 100%;
 }
 
 body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
 }