<nav class="row">
    <div class="col-12 col-md-3 col-xl-4  logo">
        <img src="assets/img/logo-dream-factory.png" alt="">
    </div>
    <div class="col-12  col-md-9 col-xl-8 ">
        <div class="nav-menu">
            <div class="items-menu">
                <p>HOME</p>
            </div>
            <div class="items-menu">
                <p>SERVICES</p>
            </div>
            <div class="items-menu">
                <p>COMPANY</p>
            </div>
            <div class="items-menu">
                <p>STONE CARE</p>
            </div>
            <div class="items-menu">
                <p>CONTACT US</p>
            </div>
        </div>
    </div>
</nav>