nav {
    padding: 2%;
}

.container-header {
    /* background: radial-gradient(); */
}

.logo img {
    width: 135px;
    height: 141px;
}

.nav-menu {
    display: flex;
    text-align: left;
    font: normal normal 900 20px/26px futura;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    justify-content: flex-end;
    padding-top: 3%;
}

.items-menu {
    color: #FFFFFF;
    padding-right: 8%;
}

.nav-menu>div:first-child p {
    border-bottom: 6px solid #C6A04F;
}